<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <s48_gtm_datalayer>
            <conversant>
                <active>1</active>
                <brand>Cox &amp; Cox</brand>
                <brand_attribute_code>manufacturer</brand_attribute_code>
            </conversant>
        </s48_gtm_datalayer>
    </default>
</config>